#parent{
    background-color: rgb(255, 217, 0);
}

#child{
    background-color: brown;
}

#h2{
    color: crimson;
}

#h3{
    text-align: center;
    color:black;
}

#h4{
    text-align: right;
    color: blueviolet;
}